.title{
    font-size: 25px;
    &:hover{
        cursor: pointer;
    }
}

.addButton{
    -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
    //font-size: 3.5em;
    &:hover{
        cursor: pointer;
    }
}

