<div class="container mt-3  bg-light">

    <!--Display movement alerts-->
    <div (click)="switchMovementHidden()" class="title row">
        <span class="col-7  ">Mouvement ({{countMovementAlerts}})</span>
        <i *ngIf="movementHidden " class="col-1 material-icons mt-3 ">keyboard_arrow_down</i>
        <i *ngIf="!movementHidden " class="col material-icons mt-3 ">keyboard_arrow_right</i>
    </div>

    <hr width="66%" align="left">
    <div class="collapse mb-4" [ngClass]="{'show': !movementHidden}" id="collapseExample">
        <ul class="list-group col-8">
            <div *ngFor="let alert of alerts; let i = index">
                <div *ngIf="alert.physicalParameter === 'movement'">
                    <app-alert-item message="{{alert.message}}" [index]="i">
                    </app-alert-item>
                </div>
            </div>
        </ul>
        <div *ngIf="countMovementAlerts === 0">Aucune alerte de mouvement</div>
    </div>

    <!--Display temperature alerts-->
    <div (click)="switchTemperatureHidden()" class="title row">
        <span class="col-7">Température ({{countTemperatureAlerts}})</span>
        <i *ngIf="temperatureHidden " class="col-1 material-icons mt-3 ">keyboard_arrow_down</i>
        <i *ngIf="!temperatureHidden " class="col material-icons mt-3 ">keyboard_arrow_right</i>
    </div>
    <hr width="66%" align="left">
    <div class="collapse mb-4" [ngClass]="{'show': !temperatureHidden}" id="collapseExample">
        <ul class="list-group col-8">
            <div *ngFor="let alert of alerts; let i = index">
                <div *ngIf="alert.physicalParameter === 'temperature'">
                    <app-alert-item message="{{alert.message}}" [index]="i">
                    </app-alert-item>
                </div>
            </div>
        </ul>
        <div *ngIf="countTemperatureAlerts === 0">Aucune alerte de temperature</div>
    </div>

    <!--Display pressure alerts-->
    <div (click)="switchPressureHidden()" class="title row">
        <span class="col-7">Pression ({{countPressureAlerts}})</span>
        <i *ngIf="pressureHidden " class="col-1 material-icons mt-3 ">keyboard_arrow_down</i>
        <i *ngIf="!pressureHidden " class="col material-icons mt-3 ">keyboard_arrow_right</i>
    </div>
    <hr width="66%" align="left">
    <div class="collapse mb-4" [ngClass]="{'show': !pressureHidden}" id="collapseExample">
        <ul class="list-group col-8">
            <div *ngFor="let alert of alerts; let i = index">
                <div *ngIf="alert.physicalParameter === 'pressure'">
                    <app-alert-item message="{{alert.message}}" [index]="i">
                    </app-alert-item>
                </div>
            </div>
        </ul>
        <div *ngIf="countPressureAlerts === 0">Aucune alerte de pression</div>
    </div>

    <!--Display humidity alerts-->
    <div (click)="switchHumidityHidden()" class="title row">
        <span class="col-7">Humidité ({{countHumidityAlerts}})</span>
        <i *ngIf="humidityHidden " class="col-1 material-icons mt-3 ">keyboard_arrow_down</i>
        <i *ngIf="!humidityHidden " class="col material-icons mt-3 ">keyboard_arrow_right</i>
    </div>
    <hr width="66%" align="left">
    <div class="collapse mb-4" [ngClass]="{'show': !humidityHidden}" id="collapseExample">
        <ul class="list-group col-8">
            <div *ngFor="let alert of alerts; let i = index">
                <div *ngIf="alert.physicalParameter === 'humidity'">
                    <app-alert-item message="{{alert.message}}" [index]="i">
                    </app-alert-item>
                </div>
            </div>
        </ul>
        <div *ngIf="countHumidityAlerts === 0">Aucune alerte d'humidité</div>
    </div>

    <!--Display luminosity alerts-->
    <div (click)="switchLuminosityHidden()" class="title row">
        <span class="col-7">Luminosité ({{countLuminosityAlerts}})</span>
        <i *ngIf="luminosityHidden " class="col-1 material-icons mt-3 ">keyboard_arrow_down</i>
        <i *ngIf="!luminosityHidden " class="col material-icons mt-3 ">keyboard_arrow_right</i>
    </div>
    <hr width="66%" align="left">
    <div class="collapse mb-4" [ngClass]="{'show': !luminosityHidden}" id="collapseExample">
        <ul class="list-group col-8">
            <div *ngFor="let alert of alerts; let i = index">
                <div *ngIf="alert.physicalParameter === 'luminosity'">
                    <app-alert-item message="{{alert.message}}" [index]="i">
                    </app-alert-item>
                </div>
            </div>
        </ul>
        <div *ngIf="countLuminosityAlerts === 0">Aucune alerte de luminosité</div>
    </div>

    <div style="width: 4em;  position: fixed; right: 2em; bottom: 2em;">
        <i class="material-icons float-right addButton text-primary rounded-circle border shadow" data-toggle="modal"
            data-target="#exampleModal" title="Ajouter une alerte" style="font-size: 3.5em;">
            add_circle
        </i>
    </div>


    <!--<button type="button" class="btn btn-primary my-5" *ngIf="!showForm" (click)="addAlertSwitcher()">Ajouter</button>-->

    <div *ngIf="showForm" class="row my-5">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="form-group">
                <label for="physicalParameter">
                    Grandeur Physique
                </label>
                <select id="physicalParameter" class="form-control" name="physicalParameter"
                    (change)="changePhysicalParameter($event.target.value)" ngModel>
                    <option value="movement">Mouvement</option>
                    <option value="temperature">Température</option>
                    <option value="pressure">Pression</option>
                    <option value="humidity">Humidité</option>
                    <option value="luminosity">Luminosité</option>
                </select>
            </div>

            <app-temperature-form *ngIf="physicalParameterInput === 'temperature'" (submitted)="addAlertSwitcher()">
            </app-temperature-form>

            <button *ngIf="physicalParameterInput === ''" class="btn btn-secondary "
                (click)="addAlertSwitcher()">Annuler</button>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouvelle alerte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="physicalParameter">
                        Grandeur Physique
                    </label>
                    <select id="physicalParameter" class="form-control" name="physicalParameter"
                        (change)="changePhysicalParameter($event.target.value)" ngModel>
                        <option value="movement">Mouvement</option>
                        <option value="temperature">Température</option>
                        <option value="pressure">Pression</option>
                        <option value="humidity">Humidité</option>
                        <option value="luminosity">Luminosité</option>
                    </select>
                </div>
    
                <app-temperature-form *ngIf="physicalParameterInput === 'temperature'" (submitted)="addAlertSwitcher()">
                </app-temperature-form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="formPhysicalParameter != ''">Next</button>
            </div>
        </div>
    </div>
</div>