<div class="container mt-3  bg-light">

    <div (click)="switchMovementHidden()" class="title row">
        <span class="col-7  ">Mouvement</span>
        <i *ngIf="movementHidden " class="col-1 material-icons mt-3 ">keyboard_arrow_down</i>
        <i *ngIf="!movementHidden " class="col material-icons mt-3 ">keyboard_arrow_right</i>
    </div>

    <hr width="66%" align="left">
    <div class="collapse mb-4" [ngClass]="{'show': !movementHidden}" id="collapseExample">
        <ul class="list-group col-8">
            <div *ngFor="let alert of alerts; let i = index">
                <div *ngIf="alert.physicalParameter === 'movement'">
                    <app-alert-item message="{{alert.message}}" [index]="i">
                    </app-alert-item>
                </div>
            </div>
        </ul>
    </div>

    <div (click)="switchTemperatureHidden()" class="title row">
        <span class="col-7">Température</span>
        <i *ngIf="temperatureHidden " class="col-1 material-icons mt-3 ">keyboard_arrow_down</i>
        <i *ngIf="!temperatureHidden " class="col material-icons mt-3 ">keyboard_arrow_right</i>
    </div>
    <hr width="66%" align="left">
    <div class="collapse " [ngClass]="{'show': !temperatureHidden}" id="collapseExample">
        <ul class="list-group col-8">
            <div *ngFor="let alert of alerts; let i = index">
                <div *ngIf="alert.physicalParameter === 'temperature'">
                    <app-alert-item message="{{alert.message}}" [index]="i">
                    </app-alert-item>
                </div>
            </div>
        </ul>
    </div>


    <button type="button" class="btn btn-primary my-5" *ngIf="!showForm" (click)="addAlertSwitcher()">Ajouter</button>

    <div *ngIf="showForm" class="row my-5">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="form-group">
                <label for="physicalParameter">
                    Grandeur Physique
                </label>
                <select id="physicalParameter" class="form-control" name="physicalParameter"
                    (change)="changePhysicalParameter($event.target.value)" ngModel>
                    <option value="movement">Mouvement</option>
                    <option value="temperature">Température</option>
                    <option value="pressure">Pression</option>
                    <option value="humidity">Humidité</option>
                    <option value="luminosity">Luminosité</option>
                </select>
            </div>

            <app-temperature-form *ngIf="eventTargetValue === 'temperature'"></app-temperature-form>

            <button class="btn btn-secondary " (click)="addAlertSwitcher()">Annuler</button>
        </div>
    </div>

</div>