<div class="container mt-3">

    <div class="row">
        <div *ngFor="let alert of alerts">
            <div *ngIf="alert.physicalParameter === 'temperature'">{{alert.physicalParameter}} {{alert.signe}} {{alert.value}} °C</div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" *ngIf="!showForm" (click)="addAlertSwitcher()">Ajouter</button>

    <div class="row" *ngIf="showForm">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="form-group">
                <label for="physicalParameter">
                    Grandeur Physique
                </label>
                <select id="physicalParameter" class="form-control" name="physicalParameter"
                    (change)="changePhysicalParameter($event.target.value)" ngModel>
                    <option value="movement">Mouvement</option>
                    <option value="temperature">Température</option>
                    <option value="pressure">Pression</option>
                    <option value="humidity">Humidité</option>
                    <option value="luminosity">Luminosité</option>
                </select>
            </div>

            <app-temperature-form *ngIf="eventTargetValue === 'temperature'"></app-temperature-form>

            <button class="btn btn-secondary" (click)="addAlertSwitcher()">Annuler</button>
        </div>
    </div>

</div>