<form (ngSubmit)="onSubmit(f)" #f="ngForm">

    <div class="form-group">
        <label for="signe">
            Signe
        </label>
        <select id="signe" class="form-control" name="signe" [ngModel]="defaultSigne" required>
            <option value="upper">supérieur</option>
            <option value="lower">inferieur</option>
        </select>
    </div>

    <div class="form-group">
        <label for="tempValue">
            Valeur (°C)
        </label>
        <input type="text" id="tempValue" class="form-control" name="tempValue" ngModel required>
    </div>

    <!--<div>
        <label for="tempValue">
            Paramètres temporels :
        </label>
        <div class="form-check" >
            <input type="checkbox" class="form-check-input" id="allDaysCbox" 
                name="allDaysCbox" [(ngModel)]="allDays">
            <label class="form-check-label" for="allDaysCbox">Tous les jours</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="allTheDayCbox"
                name="allTheDayCbox" [(ngModel)]="allTheDay">
            <label class="form-check-label" for="allTheDayCbox">Toute la journée</label>
        </div>
    </div>
    <div  [ngClass]="{'d-none': allDays}">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="severalDaysRbutton" id="oneDayRbutton"
                value="oneDayRbutton" (change)="switchSeveralDays()" checked>
            <label class="form-check-label" for="oneDayRbutton">
                Le :
            </label>
        </div>
        <div class="row" *ngIf="!severalDays">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group date" id="oneDayDatePicker" data-target-input="nearest">
                        <input type="text" NgTempusdominusBootstrapInput [options]="oneDayDatePickerOptions"
                            class="form-control datetimepicker-input" data-target="#oneDayDatePicker"
                        name="oneDayDatePicker" ngModel [required]="!allDays && !severalDays"/>
                        <div class="input-group-append" data-target="#oneDayDatePicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="severalDaysRbutton" id="SeveralDaysRbutton"
                value="SeveralDaysRbutton" (change)="switchSeveralDays()">
            <label class="form-check-label" for="SeveralDaysRbutton">
                Du ... au ... :
            </label>
        </div>
        <div *ngIf="severalDays">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group date" id="severalDaysStartDatePicker" data-target-input="nearest">
                        <input type="text" NgTempusdominusBootstrapInput [options]="severalDaysStartDatePickerOptions"
                            class="form-control datetimepicker-input" data-target="#severalDaysStartDatePicker"
                            name="severalDaysStartDatePicker" ngModel [required]="!allDays && severalDays"/>
                        <div class="input-group-append" data-target="#severalDaysStartDatePicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group date" id="severalDaysEndDatePicker" data-target-input="nearest">
                        <input type="text" NgTempusdominusBootstrapInput [options]="severalDaysEndDatePickerOptions"
                            class="form-control datetimepicker-input" data-target="#severalDaysEndDatePicker"
                            name="severalDaysEndDatePicker" ngModel [required]="!allDays && severalDays"/>
                        <div class="input-group-append" data-target="#severalDaysEndDatePicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [ngClass]="{'d-none': allTheDay}">
        <label class="form-check-label" for="SeveralDaysRbutton">
            De ... à ... :
        </label>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group date" id="startTimePicker" data-target-input="nearest">
                        <input type="text" NgTempusdominusBootstrapInput [options]="startTimePickerOptions"
                            class="form-control datetimepicker-input" data-target="#startTimePicker"
                            name="startTimePicker" ngModel [required]="!allTheDay"/>
                        <div class="input-group-append" data-target="#startTimePicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group date" id="endTimePicker" data-target-input="nearest">
                        <input type="text" NgTempusdominusBootstrapInput [options]="endTimePickerOptions"
                            class="form-control datetimepicker-input" data-target="#endTimePicker"
                            name="endTimePicker" ngModel [required]="!allTheDay"/>
                        <div class="input-group-append" data-target="#endTimePicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary mt-2" type="submit" [disabled]="f.invalid">Enregistrer</button>
    <button class="btn btn-secondary mt-2" (click)="cancel()">Annuler</button> -->

</form>