<div class="form-group">
    <div class="input-group date" id="datetimepicker1bis" data-target-input="nearest">
        <input type="text" NgTempusdominusBootstrapInput [options]="options" class="form-control datetimepicker-input"
            name="datetimepicker-input1" data-target="#datetimepicker1bis" ngModel />
        <div class="input-group-append" data-target="#datetimepicker1bis" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
</div>