<nav class="navbar navbar-expand-lg navbar-light bg-primary shadow border d-flex justify-content-between">
    <div id="navbarNav" class="">
        <!--class="collapse navbar-collapse" pour eviter le menu responsive vertical-->
        <ul class="navbar-nav ">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link mb-0 h5 text-white" routerLink="auth">Authentification</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link mb-0 h5 text-white" routerLink="currentMeasure">Mesures en temps réel</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link mb-0 h5 text-white" routerLink="history">Historique des mesures</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link mb-0 h5 text-white" routerLink="alerts">Gérer mes alertes</a>
            </li>

        </ul>


    </div>
    <div class="dropdown show float-right">
        <a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="./assets/images/avatar-young-business-man.jpg" width="40" height="40" title="Profil"
                alt="Flower" class="rounded-circle">
        </a>
        <div class="dropdown-menu  dropdown-menu-right container " aria-labelledby="dropdownMenuLink">
            <div class="row ml-2">
                <i class="col-2 material-icons px-0 py-0">account_circle</i>
                <a class="dropdown-item col-8 px-0 py-0" routerLink="profil">Profil</a>
            </div>
            <div class="dropdown-divider"></div>
            <div class="row ml-2">
                <i class="col-2 material-icons px-0 py-0">settings</i>
                <a class="dropdown-item col-8 px-0 py-0" routerLink="parameters">Paramètres</a>
            </div>
            <div class="dropdown-divider"></div>
            <div class="row ml-2">
                <i class="col-2 material-icons px-0 py-0">exit_to_app</i>
                <a class="dropdown-item col-8 px-0 py-0" (click)="signOut()">Déconnexion</a>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>